
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px 15px;
}
.logo {
  width: 130px;
  margin-right: 15px;
}
.drapeausn {
  width: 100%;  
} 
.searchbar {
  display: none;

}

.mobile-search {
  display: flex;
  align-items: center;
  
}
.mobile-icon-search {
  width: 30px;
}
.socialmedia {
  display: none;
}
.connexion {
  display: flex;
  align-items: center;

 }
 .user {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000091;
 }
 
 .connecxiontitle {
  display: none;
 }
 
 .menu-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border: 1px solid #000091;
  border-radius: 50%;
  margin-left: 10px;
 }

 .menu {
  display: none;
}


@media screen and (min-width: 576px) {
  .logo {
    width: 150px;
    margin-right: 15px;
  }
  .drapeausn {
    width: 100%;  
  } 
  .mobile-search {
    display: none;
  }
  .searchbar {
    flex: 1;
    max-width: 300px;
    height: 50px;
    display: flex;
    /* background-color: #fff; */
    /* border: 1px solid gray; */
    margin-right: 15px;
  }
  .inputsearch {
    flex: 1;
    border: none;
    padding-left: 15px;
    border: 2px solid rgba(238, 237, 237, 0.603);
    border-right: none;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .inputsearch::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 0.82rem;
    color: rgb(238, 237, 237);
  }
  .searchbutton {
    border: none;
    width: 40px;
    background-color: #fff;
    border: 2px solid rgba(226, 226, 226, 0.603);
    border-left: none;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
   .searchicon {
    width: 100%;
    margin: 0;
    padding: 0;
   }
  
  .socialmedia {
    display: none;
  }
  .connexion {
    display: flex;
    align-items: center;
  
   }
   .user {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000091;
   }
   
   .connecxiontitle {
    display: none;
   }
   
   .menu-burger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border: 1px solid #000091;
    border-radius: 50%;
    margin-left: 10px;
   }
  
   .menu {
    display: none;
  }
  
}


@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 992px) {
  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 2px solid rgb(238, 237, 237);
    padding: 10px 15px;
  }
  .logo {
    min-width: 200px;
    margin-right: 100px;
  }
  .drapeausn {
    width: 90%;  
  }
  
  .searchbar {
    flex: 1;
    max-width: 300px;
    height: 50px;
    display: flex;
    /* background-color: #fff; */
    /* border: 1px solid gray; */
    margin-right: 15px;
  }
  .inputsearch {
    flex: 1;
    border: none;
    padding-left: 15px;
    border: 2px solid rgba(238, 237, 237, 0.603);
    border-right: none;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .inputsearch::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 0.82rem;
    color: rgb(238, 237, 237);
  }
  .searchbutton {
    border: none;
    width: 40px;
    background-color: #fff;
    border: 2px solid rgba(226, 226, 226, 0.603);
    border-left: none;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
   .searchicon {
    width: 100%;
    margin: 0;
    padding: 0;
   }
  
   .socialmedia {
    width: 240px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 2px solid gainsboro;
    border-right: 2px solid gainsboro;
    padding: 0 15px;
    margin-right: 15px;
   }
  
  .facebook, .twitter {
    background-color: rgba(238, 237, 237, 0.603);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fcbicon, .twiticon {
    width: 20px;
  }
  .socialtitle {
   color: #3c3c3d;
  }
  
   .connexion {
    /* width: 200px; */
    display: flex;
    align-items: center;
   }
   .user {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000091;
   }
   
   #SVGRepo_bgCarrier {
    color: #fff;
   }
  
   .connecxiontitle {
    display: block;
    color: #000091;
    margin-left: 5px;
   }
  .menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px #3c3c2d79;
    Position: sticky;
    top: 0;
    background-color: #fff;
    height: 50px;
    
   }
  
    ul li {
      display: inline-block;
      text-decoration: none;
    }
  
    li a {
       text-decoration: none;
       margin: 0 25px 0 0;
       color: #3c3c2d;
       font-size: 0.875rem;
    }
   li a:hover,li a:active {
    color: #000091;
    padding-bottom: 6px;
    border-bottom: 3px solid #000091;
  }

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24
  }
 
  .material-symbols-outlined {
    margin-top: 3px;
  }
.drop-down-menu {
  display: flex;
  align-items: center;
}

  .menu-burger {
    display: none;
  }
  .aide {
    margin-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  header {
    height: 70px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(238, 237, 237);
  }
  
  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 2px solid rgb(238, 237, 237);
    padding: 10px 15px;
  }
  .logo {
    min-width: 240px;
    margin-right: 200px;
  }
  .drapeausn {
    width: 90%;  
  }
  
  .searchbar {
    flex: 1;
    max-width: 450px;
    height: 50px;
    display: flex;
    /* background-color: #fff; */
    /* border: 1px solid gray; */
    margin-right: 15px;
  }
  .inputsearch {
    flex: 1;
    border: none;
    padding-left: 15px;
    border: 2px solid rgba(238, 237, 237, 0.603);
    border-right: none;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .inputsearch::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 0.82rem;
    color: rgb(238, 237, 237);
  }
  .searchbutton {
    border: none;
    width: 40px;
    background-color: #fff;
    border: 2px solid rgba(226, 226, 226, 0.603);
    border-left: none;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
   .searchicon {
    width: 100%;
    margin: 0;
    padding: 0;
   }
  
   .socialmedia {
    width: 240px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 2px solid gainsboro;
    border-right: 2px solid gainsboro;
    padding: 0 15px;
    margin-right: 15px;
   }
  
  .facebook, .twitter {
    background-color: rgba(238, 237, 237, 0.603);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fcbicon, .twiticon {
    width: 20px;
  }
  .socialtitle {
   color: #3c3c3d;
  }
  
   .connexion {
    /* width: 200px; */
    display: flex;
    align-items: center;
  
   }
   .user {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000091;
   }
   
   #SVGRepo_bgCarrier {
    color: #fff;
   }
  
   .connecxiontitle {
    display: block;
    color: #000091;
    margin-left: 5px;
   }
   
   .menu-burger {
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #000091;
    border-radius: 50%;
   }
  
   .menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px #3c3c2d79;
    Position: sticky;
    top: 0;
    background-color: #fff;
    height: 50px;
   }
  
    ul li {
      display: inline-block;
      text-decoration: none;
    }
  
    li a {
       text-decoration: none;
       margin: 0 25px 0 0;
       color: #3c3c2d;
    }
   li a:hover,li a:active {
    color: #000091;
    padding-bottom: 6px;
    border-bottom: 3px solid #000091;
  }
  

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24
  }
 
  .material-symbols-outlined {
    margin-top: 3px;
  }
.drop-down-menu {
  display: flex;
  align-items: center;
}
    .aide {
      margin-right: 25px;
    }
}

